/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__img {
  width: 100%;
}
.matrix__more-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .matrix {
    text-align: center;
  }
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto 0;
}

.add-task {
  margin-top: 1em;
  margin-bottom: 1em;
}

.task-list {
  margin: 0;
  padding: 0;
}

.task-item,
.list__title {
  list-style:none;
}

.task-list__description,
.task-list__text-input {
  width: 56%;
  display: inline-block;
}

input, button{
  outline:none;
}

.task-list__btn,
.add-task__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.task-list__btn:hover {
  color: #3a3A3a;
}

/* Heading */
.list__title,
.add-task__description {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-list__text-input,
.add-task__text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  box-sizing: border-box;
}

.task-list__text-input:focus {
  color: #333;
}

/* New Task */
.add-task__description {
  display: block;
  margin: 0 0 20px;
}
.add-task__text-input {
  width: 318px;
  box-sizing: border-box;
}
.add-task__btn:hover {
  color: #0FC57C;
}

/* Task list */
.task-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.task-item > * {
  vertical-align: middle;
}

.task-list__checkbox {
  margin: 0 10px;
}

.task-list__description {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task-list__description {
  width: 56%;
  display: inline-block;
}

.task-list__text-input{
  width: 226px
}

.task-list__btn--delete:hover {
  color: #CF2323;
}

.task-list__btn--delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task-list__btn--delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.task-list--completed .task-list__description {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task-list__text-input {
  display:none;
}

.editMode .task-list__text-input{
  display:inline-block;
  width:224px;
}

.editMode .task-list__description {
  display:none;
}